<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS minificator tests</title>
  <style>
    td {
      padding: 10px !important;
    }
    .social-links li {
      padding: 10px;
    }
  </style>
<head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">CSS minificator tests</a>
	    </div>
	    <div class="navbar-right">
	      <ul class="nav navbar-nav social-links">
	        <li>
	          <a class="github-button" href="https://github.com/Deeech" data-style="mega" aria-label="Follow @Deeech on GitHub">Follow @Deeech</a>
	        </li>
	        <li>
	          <a class="github-button" href="https://github.com/Deeech/css-minificator-tests" data-icon="octicon-star" data-style="mega" aria-label="Star Deeech/css-minificator-tests on GitHub">Star</a>
	        </li>
	        <li>
	          <a class="github-button" href="https://github.com/Deeech/css-minificator-tests/issues" data-icon="octicon-issue-opened" data-style="mega" aria-label="Issue Deeech/css-minificator-tests on GitHub">Issue</a>
	        </li>
	      </ul>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
	  <div class="row">
	    <div class="col-md-12" id="container">
	      <p>
	        Here you can see results of a minificatiors tests. The script downloads a few sites, compress their css files and then launches screenshot testing all sites using <a href="https://github.com/gemini-testing/gemini">gemini</a>. You can view more details under the spoilers.
	      </p>
	    </div>
	  </div>
	</div>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
